.normal-cat-div {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    justify-content: left;
    width: 100%;
    height: 100%;
    text-align: left;
    border-style: solid;
    font-size: 25px;
}

.normal-cat-div h4 {
    color: chartreuse;
}

.normal-cat-div p {
    color: chartreuse;
}