.navbar {
    padding: 20px;
    background-color:#61dafb;
    width:100%;
    border-style: solid;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.navbar-logo {
    background-color: #61dafb;
    justify-content: right; 
    /* margin-right: 20px; */

}

.navbar-menu {
    background-color: #61dafb;
    text-align: left;
    justify-content: left;
    font-size: 25px;
    /* font-weight: bold; */
    width: 50%;
    height: 100%;
    border-right: 5px solid white
}