.navbar {
    padding: 20px;
    background-color:#cb9825;
    width:100%;
    border-bottom: solid;
    border-width: 50px;
    border-color: #988bb5;
    font-family: 'Rubik';
    font-size: 25sp;
}

.navbar-logo {
    background-color: #cb9825;
    justify-content: right; 
    /* margin-right: 20px; */

}

.navbar-logo img {
/*     border-style: none;
 */    width: 100%;
    border: 5px solid white;
    margin-right: 40px;
}

.navbar-menu {
    background-color: #cb9825;
    text-align: left;
    justify-content: left;
    font-size: 25px;
    /* font-weight: bold; */
    width: 50%;
    height: 100%;
/*     border-right: 5px solid white;
 */    color:chartreuse;
}

.navbar-menu button {
    background-color: #cb9825;
    border: 0;
    text-align: left;
    justify-content: left;
    font-size: 25px;
    color:chartreuse;
    height: 60px;
}

.navbar-menu li {
    color:chartreuse;
}

.navbar-menu li {
    color:chartreuse;
}

.navbar-menu p {
    color: chartreuse;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}