.normal-cat-div {
    padding: 20px;
    justify-content: left;
    width: 100%;
    height: 100%;
    text-align: left;
    border-style: none;
    font-family: 'Rubik';
    font-size: 17sp;
    background-color: black;
}

.normal-cat-div h4 {
    color: white;
    font-family: 'Rubik';
    font-size: 17sp;
}

.normal-cat-div p {
    color: white;
    font-family: 'Rubik';
    font-size: 10sp;
}

.normal-cat-div li {
    color: white;
    font-family: 'Rubik';
    font-size: 10sp;
}

.text123 {
    font-family: 'Rubik';
    font-size: 10sp;
}