.ContactInfo {
  background-color: #24427e;
font-size: 17sp;
margin-left: 20px;
/* font-weight: bold; */
/* border-right: 5px solid white;
 */color:chartreuse;
 font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}