.navbar {
    padding: 20px;
  /*   margin-left: 20px;
    margin-right: 20px; */
    background-color:black;
    width:100%;
    /* border-bottom: solid;
    border-width: 100px;
    border-color: #887636; */
    
    font-family:'Times New Roman', Times, serif;
    font-size: 10sp;
    
}

.navbar-logo {
    background-color: black;
    justify-content: right; 
    /* margin-right: 20px; */

}

.navbar-logo img {
/*     border-style: none;
 */    width: 210px;
    border: none;
    margin-right: 40px;
}

.navbar-menu {
    background-color: black;
    text-align: left;
    justify-content: left;
    font-size:17ps;
    /* font-weight: bold; */
    width: 50%;
    height: 100%;
/*     border-right: 5px solid white;
 */    color:chartreuse;
    font-family:'Times New Roman', Times, serif;
}

.navbar-menu button {
    background-color: black;
    border: 0;
    text-align: left;
    justify-content: left;
    font-size:17sp;
    color:white;
    height: 60px;
}

.navbar-menu li {
    color:white;
}

.navbar-menu li {
    color:white;
}

.navbar-menu p {
    color: white;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}