.Picture-row {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    /* border: 5px solid white; */
    font-family: 'Rubik';
    font-size: 17sp;
  }
  
  .Picture-column {
    flex: 33%;
    max-width: 33%;
    font-family: 'Rubik';
    font-size: 17sp;
    /* border: 5px solid white; */

  }

  .Picture-column img {
    width: 100%;
    border: none;
    /* border: 5px solid white; */

  }