.Translate {
    padding: 20px;
    padding-left: 55px;
  /*   transform: translatex(-303%);
   */  font-family: 'Rubik';
      font-size: 25sp;
      width: 100%;
  /*   transform: translateY(100%);
   */}

   .return {
    width: 100px;
    height: 100px;
  }